extends layout

block content
  .container
    .row
      .col-xs-12
        form(name='onboarding', method='POST', enctype='multipart/form-data')
          .form-group
            label.control-label(for='attachment') Votre vidéo *
            input#attachment.form-control(name='attachment', type='file', required)

          button.btn.btn-success(type='submit') Envoyer

    .row
      .col-xs-12
        .video-wrapper
          video.preview-background(height='700', id='preview-background', src=assetPath('basket.mp4'), autoplay, loop)
          .format
            video.preview(height='700', id='preview', src=assetPath('basket.mp4'), autoplay, loop)
          input.range(id='range', type='range', step='0.01', min='1', max='4', value='1')



