html, body
  min-height 100%

body
  background #FEFEFE

.video-wrapper
  background #FFF
  overflow hidden
  position relative
  height 800px
  width 100%

.format
  background #EEE
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  margin-top auto
  margin-right auto
  margin-bottom auto
  margin-left auto
  height 539.8px
  width 856px
  overflow hidden

.preview-background
  opacity 0.2

.preview,
.preview-background
  position absolute
  top -500%
  right -500%
  bottom -500%
  left -500%
  margin auto

.range
  position: absolute
  right 0
  bottom 0
  left 0
  margin-right auto
  margin-left auto
  z-index 15
